@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=M+PLUS+Rounded+1c&display=swap');

/* genral targeting */
/** {border: solid 1px blue;}*/
h1,h2,h3,h4,h5,h6 {font-family: "M PLUS Rounded 1c";}
p {font-family:  "Comfortaa", Helvetica, sans-serif;}
img {vertical-align: middle;}
a { font-weight: bold;}
.content {
  max-width: 1600px;
  margin: 6px auto;
  background-color: #f8f8f8;
  box-sizing: border-box;
  min-width: 1100px;
}

/* slide show genral info*/
.mySlides {display: none}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: -180px;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px){
  .prev, .next,.text {font-size: 11px} /* On smaller screens, decrease text size */
}

/* header info */
header nav {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  grid-template-rows: 150px 150px;
  text-align: center;
  justify-items: end;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 30px;
  font-family: "M PLUS Rounded 1c";
  background-color:  #fef9f0;
  padding: 11px 0px;
  border-bottom: 5px solid #808080;
}
#Logolink {
  width: 100%;
  grid-column-start: 1;
  grid-row: 1/3;
}
#aboutMeP {
  grid-column-start: 2;
  grid-row: 1/2;
} 
#resumeP  {
  position: relative;
  right: 100px;
  grid-column-start: 3;
  grid-row: 1/2;
} 
#galoryP  {
  grid-column-start: 2;
  grid-row: 2/3;
} 
#projectP {
  position: relative;
  right: 100px;
  grid-column-start: 3;
  grid-row: 2/3;
} 

#aboutMeP:hover {color: #000000}
#resumeP:hover {color: #000000}
#galoryP:hover {color: #000000}
#projectP:hover {color: #000000}

/* footer info*/
footer a {color: #808080; text-decoration: none; font-size: 1.2em;}
footer a:hover {color: #000000;}
footer .social img {padding-top: 15px;}
footer p {font-size: 22px; padding: auto 20px;}
footer {
    background-color: #FBF8F2;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/**/
/**/

#HomeContent {border: 10px solid #808080;}
#HomeContent img {   /* this is index.html part*/
  max-width: 1600px;
    
} 
#HomeContent main {
  text-align: center;
  margin: 0 auto;
  margin-bottom: -180px;
}
#HomeContent main img {
  width: 100%;
  height: auto;
}
#HomeContent p {
  font-size: 28px;
}
#HomeContent section div p {
  font-size: 30px;
  margin: 20px 20px;
}
#HomeContent h1 {
  font-size: 36px;
}

/* Resume section */
/* slide show unique will be dirctly targeted*/
#ResumeContent {border: 10px #4e5c63 solid;}
#ResumeContent .prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: calc(0% + 700px);
  padding: 16px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
#ResumeContent .next {        
  right: 0;
  border-radius: 3px 0 0 3px;
}
#ResumeContent .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}     
/* Caption text */
#ResumeContent .text {
  color: #000000;
  font-size: 23px;
  padding: 8px 12px;
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
}
/* Number text (1/3 etc) */
#ResumeContent .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/**/
/**/
/* this is the Projects Container */


#ProjectsContainer main img {
  width: 100%; /* get red of this later*/
  height: auto;
  max-width: 1600px;
}
#ProjectsContainer section {
  margin-top: 400px;
}
/* slide show unique will be dirctly targeted*/
#ProjectsContainer .prev, #ProjectsContainer .next {
  cursor: pointer;
  position: absolute;
  top: 46%;
  width: auto;
  padding: 16px;
  background-color: rgba(141, 141, 141, 0.9);
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin: 0px -43px;
}
/* Position the "next button" to the right */
#ProjectsContainer .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
#ProjectsContainer .prev:hover, #ProjectsContainer .next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#ProjectsContainer .ProjectsSlides {
  display: grid;
  grid-template-columns: 0px 1fr 1fr 0px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
#ProjectsContainer .prev{
  grid-column-start: 1;
}
#ProjectsContainer .ProjectsSlides .MSI {
  grid-column-start: 2;
  float: left;
}
#ProjectsContainer .ProjectsSlides .MSP {
  grid-column-start: 3;
  float: right;
  font-size: 27px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 5px);
  margin: 20px;
  text-align: center;
}
#ProjectsContainer .next {
  grid-column-start: 4;
}
#ProjectsContainer .slideshow-container {
  max-width: 1500px;
  position: sticky;
  margin: 20px auto;
}
#ProjectGrid {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  padding: 40px;
  margin-bottom: -180px;
}
#ProjectGrid p {
  font-size: 27px;
}
#ProjectsContainer h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: -40px;
}
#ProjectGrid img {
  border: 5px solid #4e5c63;
}
#PG1 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 20px;
  background-color: #2b2b2b;
}
#PG2 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 20px;
}
#PG3 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 20px;
  background-color: #2b2b2b;
}
#PG4 {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 20px;
}

/**/
/**/

/* this is form*/

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
  By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
  between the labels and their text fields */
  margin-left: 0.5em;
}

#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  /* make this element invisible until we are ready for it */
  display: none;      
}
.moveDown {
  margin-top: 3em;
}

/**/
/**/
/* This is for my lazy Galory section*/

.slideH1{
  text-align: center;
  order: 1  
}
#h1GG {
  margin-top: 50px;
  background-color: #f2f2f2;
  padding: 30px;
}
#gridGalory {
  display: grid;
  padding: 10px;
  gap: 10px; 
  margin-top: -25px;
  max-width: 1600px;
  /*border: 10px solid #275738;*/
  background-color: #d9c2a3;
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(4, calc(25% - 20px)); /* 350px */
  grid-template-rows: repeat(4, 300px); 
  margin-bottom: -100px;
  
}
#gridGalory * {
  width: 100%;
  font-size: 32px;
  padding: 20px 0;
  
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
 /*border: solid 2px #975D2E; */
  
}
#GGimg {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 5px solid #275738;
  background-color: #275738;
  margin-top: 10px;
} 
#GGmainP {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 871px; 
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-top: 10px;
}
#GGcomment1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}
#GGcomment2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
#GGcomment3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}
#GGcomment4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
.GGP {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.GGI {
  border: 5px solid #275738;
  background-color: #275738;
}    
/* Slideshow container */
#GaloryContent .slideshow-container {
  width: calc(100%);
  position: relative;
  margin-top: 1px;
  background-color:#f2f2f2;
  
}
#GaloryContent .slideshow-container p {
  padding: 20px;
  text-align: start;
  font-size: 35px;
}
    
/* Next & previous buttons */
#GaloryContent .prev, .next {
  cursor: pointer;
  position: absolute;
  top: calc(0% + 700px);
  width: auto;
  padding: 16px;
  color:#f2f2f2;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #4B362A;
  opacity: .6;
}
/* Position the "next button" to the right */
#GaloryContent .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
    
/* On hover, add a black background color with a little bit see-through */
#GaloryContent .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.9);
}
    
/* Caption text */
#GaloryContent .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
    
/* this is the H1 actualy */
#GaloryContent .numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: center;
  margin-top: 50px;
}
    
/* Fading animation */
#GaloryContent .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
    
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media screen and (max-width: 1410px) {
  footer {display: grid;}

  header nav {
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 150px 150px;
  }

}